:root {
  --background: #1F2229;
  --background2: #2E303C;
  --background-button: #373945;
  --background-button2: #4B4D59;
  --yellow: #FAE800;
  --gray: #BEC2C6;
  --white: #FBFBFB;

  --blue-primary: #040e46;
  --blue-secondary: #030a2c;
  --blue: #00f;
  --red: #FF4040;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #FBFBFB;
  background: var(--blue-primary);
}

input, textarea {
  font-family: "Poppins";
}

button {
  cursor: pointer;
}